
:root {
    --dark:#1E1E1E ;
    --main:#59CE8F;
    --secondMain:#100720;
    --cardBG: #2b2b2ba0;
    --textColor:#E8F9FD;
    --secondText:#000000;
    --border:20px;
  }

  .Services{
    margin-top: 20px;
    background-color: var(--cardBG);
    padding: 20px 0;
    border-radius: 5px;
  }
  .serviceContainer{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
  }
  .service{
    border-radius: 10px;
    margin: 5px;
    background-color: var(--dark);
    padding: 20px;
    flex: 30%;
    text-align: center;
  }

  .service:hover{
    box-shadow: #00ff7731 0px 2px 10px;
    /* border: 0.5px solid var(--textColor); */
    transition: 0.3s all;
    transform: scale(1.05);
  }





  /* --------------------------------Mobile Responsive---------------------------------------  */

  @media only screen and (max-width: 560px) {
    .Services h1{
        font-size: 24px;
    }
    .service h3{
        height: auto;
        font-size: .9rem;
    }
  }