@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Serif:opsz@8..144&display=swap');

:root {
    --dark:#1E1E1E ;
    --main:#59CE8F;
    --secondMain:#3F2E3E;
    --secondary: #A78295;
    --textColor:#fff;
    --secondText:#EFE1D1;
  }

.header{
    z-index: 1000;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 10px;
    display: flex;
    background-color:transparent ;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
    border-bottom: #130505 1px solid;
}
.header .brandTitle{
    color: var(--main);
}

.brand{
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    min-width: 380px;
    font-size: 20px;
    font-family: sans-serif;
    padding-right: 20px;
    letter-spacing: 1.5px;

}
.nav{
    font-family: 'Roboto Serif', serif;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
     
}
li{
    border-radius: 1.4rem;
    padding: 5px 15px;
    font-size: 1rem;
    margin: 0 10px;
}
li:hover a,li:hover{
    color: var(--main) ;
    background: #130505;

}
.active{
    background-color: var(--main) ;
}


/* dropdown menu css  */
.dropdown{
    display: none;
    
}
.dropdown .menuBtn{
    z-index:50;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 1.4rem;
    padding: 5px 15px;
    min-width: 106px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.dropdownList{
    position: absolute;
    top: 35px;
    right: 0px;
    border-radius: 5px;
    margin-top: 15px;
    font-family: 'Roboto Serif', serif;
    padding: 10px 10px;
    list-style-type: none;
    box-shadow: -1.5px 1.5px 5px var(--textColor);

}
.offStyle{

    opacity: 0;
    transition: 0.1s  all;
  };
.onStyle {
    opacity: 1;
    transition: 0.1s all;
  };


.dropdownList .link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 5px 15px;

}

@media only screen and (max-width: 840px) {
    .dropdown{
        display: block;
        
    }
    .dropdownList{
        z-index: 1000;
    }
    .nav{
        display: none;
    }
    .brand{
        font-size: 18px;
    }
    .dropdown .menuBtn{
        top: 8px;
        right: 20px;
    }
  }

  @media only screen and (max-width: 560px) {
    .dropdown .menuBtn{
        top: 9px;
        right: 0px;
    }
    .dropdown .menuBtn .menuIcon{
        font-size: 20px;
    }
    .dropdownList{
        z-index: 1000;
    }
    .brand{
        width: 40%;
        min-width: 300px;
        font-size: 16px;
    }
  }